<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.flowtrandingsystem">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.ui.ProductTypeActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".gui.ui.MenuActivity"/>
        <activity
            android:name=".gui.ui.ReportActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".gui.ui.MenuActivity"/>
        <activity
            android:name=".gui.ui.InventoryActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".gui.ui.ProductTypeActivity"/>
        <activity
            android:name=".gui.ui.CompanyInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".gui.ui.UserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".gui.ui.ScannerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".gui.ui.MenuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".gui.ui.PdvActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".gui.ui.MenuActivity"/>
        <activity
            android:name=".gui.ui.DatasheetActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".gui.ui.InventoryActivity"/>
        <activity
            android:name=".gui.ui.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".gui.ui.LoadingActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".gui.ui.MenuActivity"/>
    </application>

</manifest>